<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="Shop.FindOrderingMapper">
  <select id="findOrdering" resultType="ShopOrderLine">
    SELECT * FROM {{schema}}.ShopOrderLines AS ol ORDER BY ol.ProductId ASC, ol.Quantity DESC
  </select>
</mapper>
