<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="Shop.FindAggregateOverTheWholeResultMapper">
  <select id="findAggregateOverTheWholeResult" resultType="ShopOrderLine">
    SELECT COUNT(*) AS Lines, SUM(ol.Quantity) AS Quantity FROM {{schema}}.ShopOrderLines AS ol WHERE ol.Quantity &gt; 5
  </select>
</mapper>
