<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="Shop.FindFunctionInAFilterMapper">
  <select id="findFunctionInAFilter" resultType="ShopProduct">
    SELECT * FROM {{schema}}.ShopProducts AS p WHERE LEN(p.ProductName) = 6
  </select>
</mapper>
