<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="Shop.FindCaseInAProjectionMapper">
  <select id="findCaseInAProjection" resultType="ShopOrderLine">
    SELECT ol.LineNumber AS LineNumber, CASE WHEN ol.Quantity &gt; 5 THEN 'bulk' ELSE 'single' END AS Volume FROM {{schema}}.ShopOrderLines AS ol
  </select>
</mapper>
